<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stacja.IT - Formularz</title>
</head>
<link rel="stylesheet" type="text/css"
      href="css/bootstrap.css"
      th:href="@{/css/bootstrap.css}"/>
<link rel="stylesheet" type="text/css"
      href="css/bootstrap-grid.css"
      th:href="@{/css/bootstrap-grid.css}"/>
<link rel="stylesheet" type="text/css"
      href="css/app.css"
      th:href="@{/css/app.css}"/>
<body>


<h3>MAIN</h3>


<script src="js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

</body>
</html>